<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Tomasz Gądek">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>at register user</title>

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>

<body>
    <header><h1>Rejestracja użytkownika</h1></header>

    <div class="messages" id="target">
        <p><b class='init'>Czy formularz zawiera błędy?</b></p>
    </div>

    <div class="form-data">
        <form name="register-user" id="register-user">

            <label id="login-label" for="login">Login:</label>
            <input id="login" name="login" type="text"/>

            <label id="firstName-label" for="firstName">Imię:</label>
            <input id="firstName" name="firstName" type="text"/>

            <label id="lastName-label" for="lastName">Nazwisko:</label>
            <input id="lastName" name="lastName" type="text"/>

            <label id="password-label" for="password">Hasło:</label>
            <input id="password" name="password" type="password"/>

            <label id="pesel-label" for="pesel">PESEL:</label>
            <input id="pesel" name="pesel" type="number"/>

            <button type="submit">Zapisz</button>
        </form>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/register.js') }}"></script>
</body>
</html>
